<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I am a fresh graduate from Nayang Technological University, Electrical and Electronic Engineering specializing in Info-Communications Engineering.
        </p>
        <p>
           I love software, programming and I am always eager to build and learn new things!
           While learning new skills and tackling problems is not easy, I look forward to tackle real-world problems
           and developing business solutions.
        </p>
      </div>
	    <div class="col-sm-6">
        <h3 style="margin-top:0;">Academic Projects</h3>
        <h4>Image Classification Via Transfer Learning</h4>
		    <ul>
    			<li>
            Explored various domain adaptation algorithms on online and custom datasets
    			</li>
          <li>
            Developed a Graphic User Interface (GUI) to aid in the further analysis of results from experiments
          </li>
          <li>
            Explored class alignment during training and proposed a framework to improve performance of existing domain adaptation algorithms
          </li>
		    </ul>
          <h4>Machine Learning and Its Applications</h4>
          <ul>
          <li>
            Collaborated with a team of 10 individuals to develop an application using machine learning
    			</li>
    			<li>
            Designed a neural network to recognize facial expressions over a period of 5 weeks
          </li>
          <li>
            Collection of over 20,000 images of facial data from project team to facilitate facial identification
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
