<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    <h4>My personal interests include:</h4>
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>
			  </li>
			  <li>
				  <b>Web Development</b>
			  </li>
			  <li>
				  <b>Internet of Things (IOT)</b>
			  </li>
			  <li>
				<b>Data Structure & Algorithms</b>
			</li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				  <h5>Coming soon!</h5>
    		</li>
  		    </ul>
			  <h3>Skills</h3>
  		    <ul>
  			<li>
				Software Application & Programming Skills: Microsoft Office Suite, C, Java, Python, JavaScript, Rust
  			</li>
  			<li>
  			  Frameworks / Platforms: Pytorch, Pandas, Django REST, Vue JS, Scrapy, Selenium, Arduino
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
